<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1><%= @receiver.name %>さん、コトノハからお知らせです。</h1>
      <p>
      あなたにお手紙が届いています！
      <br>
    </p>
    <p>
      確認するには、<%= @url %>をクリックしてください。
    </p>
  </body>
</html>