<footer class=" w-full flex mx-auto items-center justify-center left-0 right-0 bottom-0 py-6 font-semibold p-2">
  <p>©2023 Harukimedes.</p>
  <li class="list-none hover:text-point transition-all duration-300 block px-8 py-5">
    <%= link_to "プライバシーポリシー",  privacy_policy_path%>
  </li>
</footer>