@tailwind base;
@tailwind components;
@tailwind utilities;

/*

@layer components {
  .btn-primary {
    @apply py-2 px-4 bg-blue-200;
  }
}

*/

/* posts/new ================================ */

.posts-new .form-body {
  background-size: cover;
  background-repeat: no-repeat;
}

.posts-new textarea {
  font-size: 15px;
  min-height: 180px;
  border: 1px solid rgb(216, 218, 223);
  resize: none;
  background-image: linear-gradient(
      90deg,
      transparent 0%,
      transparent 50%,
      #fff 50%,
      #fff 100%
    ),
    /* 点線1の色 */ linear-gradient(180deg, #ccc 1px, transparent 1px); /* 点線2の色と太さ */
  background-size: 8px 100%, /* 点線1のサイズ */ 100% 1.5em; /* 点線2のサイズ */
  line-height: 1.5em; /* 文字の高さ */
  padding-bottom: 1.5px; /* 最終行の下にも罫線を引く */
  background-origin: content-box;
  background-attachment: local;
}

.posts-new textarea::-webkit-input-placeholder {
  font-size: 15px;
  opacity: 0.5;
}

/* replies/new ================================ */

.replies-new .form-body {
  background-size: cover;
  background-repeat: no-repeat;
}

/* background-size: 100% 100%; */

.replies-new textarea {
  font-size: 15px;
  min-height: 180px;
  border: 1px solid rgb(216, 218, 223);
  resize: none;
  background-image: linear-gradient(
      90deg,
      transparent 0%,
      transparent 50%,
      #fff 50%,
      #fff 100%
    ),
    /* 点線1の色 */ linear-gradient(180deg, #ccc 1px, transparent 1px); /* 点線2の色と太さ */
  background-size: 8px 100%, /* 点線1のサイズ */ 100% 1.5em; /* 点線2のサイズ */
  line-height: 1.5em; /* 文字の高さ */
  padding-bottom: 1.5px; /* 最終行の下にも罫線を引く */
  background-origin: content-box;
  background-attachment: local;
}

.replies-new textarea::-webkit-input-placeholder {
  font-size: 15px;
  opacity: 0.5;
}
