@tailwind base;
@tailwind components;
@tailwind utilities;

/*

@layer components {
  .btn-primary {
    @apply py-2 px-4 bg-blue-200;
  }
}

*/

/* posts/new ================================ */

.posts-new .form-body {
  background-size: cover;
  background-repeat: no-repeat;
}

.posts-new textarea {
  font-size: 15px;
  min-height: 180px;
  border: 1px solid rgb(216, 218, 223);
  resize: none;
  background-image:
    linear-gradient(
      90deg,
      transparent 0%,
      transparent 50%,
      #fff 50%,
      #fff 100%
    ),
    /* 点線1の色 */ linear-gradient(180deg, #ccc 1px, transparent 1px); /* 点線2の色と太さ */
  background-size:
    8px 100%,
    /* 点線1のサイズ */ 100% 1.5em; /* 点線2のサイズ */
  line-height: 1.5em; /* 文字の高さ */
  padding-bottom: 1.5px; /* 最終行の下にも罫線を引く */
  background-origin: content-box;
  background-attachment: local;
}

.posts-new textarea::-webkit-input-placeholder {
  font-size: 15px;
  opacity: 0.5;
}

/* posts/show ================================ */
.posts-show form {
  display: inline;
}

.posts-show-item {
  padding: 30px;
  box-shadow: 0 2px 6px #c1ced7;
  overflow: hidden;
  background-image: url("ocean1");
  background-size: cover;
  background-repeat: no-repeat;
}

.posts-show-item img {
  width: 60px;
  height: 60px;
  border-radius: 40%;
  box-shadow: 0 2px 6px #c1ced7;
  vertical-align: middle;
  object-fit: cover;
}

.posts-show-item p {
  font-size: 20px;
  margin: 20px 0;
  color: #424242;

  background-repeat: repeat-y;
  background-size: 100% 2em;
  line-height: 2;
}

/* replies/new ================================ */

.replies-new .form-body {
  background-size: cover;
  background-repeat: no-repeat;
}

/* background-size: 100% 100%; */

.replies-new textarea {
  font-size: 15px;
  min-height: 180px;
  border: 1px solid rgb(216, 218, 223);
  resize: none;
  background-image:
    linear-gradient(
      90deg,
      transparent 0%,
      transparent 50%,
      #fff 50%,
      #fff 100%
    ),
    /* 点線1の色 */ linear-gradient(180deg, #ccc 1px, transparent 1px); /* 点線2の色と太さ */
  background-size:
    8px 100%,
    /* 点線1のサイズ */ 100% 1.5em; /* 点線2のサイズ */
  line-height: 1.5em; /* 文字の高さ */
  padding-bottom: 1.5px; /* 最終行の下にも罫線を引く */
  background-origin: content-box;
  background-attachment: local;
}

.replies-new textarea::-webkit-input-placeholder {
  font-size: 15px;
  opacity: 0.5;
}

/* reply/show ================================ */
.replies-show form {
  display: inline;
}

.replies-show-item {
  padding: 30px;
  box-shadow: 0 2px 6px #c1ced7;
  overflow: hidden;
  background-image: url("ocean1");
  background-size: cover;
  background-repeat: no-repeat;
}

.replies-show-item img {
  width: 60px;
  height: 60px;
  border-radius: 40%;
  box-shadow: 0 2px 6px #c1ced7;
  vertical-align: middle;
  object-fit: cover;
}

.replies-show-item p {
  font-size: 20px;
  margin: 20px 0;
  color: #424242;

  background-repeat: repeat-y;
  background-size: 100% 2em;
  line-height: 2;
}

/* notification/index ================================ */

.notifications-index-item {
  background-color: #fff7eb;
  overflow: hidden;
  box-shadow: 0 2px 6px #c1ced7;
  width: 100%;
  text-align: center;
}

/* flash ================================ */
.flash {
  z-index: 10;
  text-align: center;
  &__alert {
    background-color: #de4d4d;
  }
  &__notice {
    background-color: #3b82c4;
  }
}
